.home-container {
    display: flex;
    background-color: #FFF2E0;
    width: 400px;
    height: 600px;
    flex-direction: column;
}

.title {
    padding: 5px;
    margin: 10px;
    font-family: 'Lexend Mega', sans-serif;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    margin: 5px;
}

.paper-container {
    display: none;
    flex-direction: column;
    align-self: center;
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 350px;
    height: 400px;
}

.notes-container {
    display: none;
    flex-direction: column;
    align-self: center;
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 350px;
    height: 400px;
}

.scroll-obj {
    overflow: auto;
    white-space: nowrap;
}

dialog:open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF2E0;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 350px;
    height: 420px;
}

#paper-details {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#paperTitle {
    margin: 5px;
    font-family: 'Lexend Mega', sans-serif;
}

#id-aoi {
    margin: 5px;
    margin-bottom: 15px;
}

.pass-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    background: #ffffff;
    border-radius: 4px;
    margin: 10px;
    border: 2px solid #000000;
    width: 325px;
    height: 225px;
}

.pass-pop:popover-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF2E0;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 400px;
}

.suggested-text {
    display: flex;
    align-self: center;
    color: #737373;
    padding: 3px;
}

.button-base {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 15px;
    box-shadow: 4px 4px #000000;
    padding: 12px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #000000;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.button-base:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px #000000;
}

.button-base:active {
    transform: translate(3px, 3px);
    box-shadow: 1px 1px #000000;
}

#papers-button, #notes-button {
    background-color: #A2AADB;
}

#paper-adder, #note-adder, #pass-submit {
    background-color: #ff6d4d;
}

#notes-create-ab, #notes-sb, #paper-ab, 
#fp-sb, #sp-sb, #tp-sb {
    background-color: #6B93B8;
}

#notes-create-cb, #notes-cb, #paper-cb,
#fp-cb, #sp-cb, #tp-cb {
    background-color: #C0C0C0;
}

#first-po, #second-po, #third-po {
    margin: 13px;
    background-color: #d4d4d4;
}

#id-pcc:popover-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF2E0;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 350px;
    height: 450px;
}

#id-ncc:popover-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF2E0;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 400px;
    height: 480px;
}

#id-nc:popover-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF2E0;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 400px;
    height: 480px;
}

.po-container {
    display: flex;
    flex-direction: column;
    background-color: #d4d4d4;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 9px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #000000;
    cursor: pointer;
}

.po-container:hover {
    background-color: #bbbbbb;
}

.no-container:hover {
    background-color: #bbbbbb;
}

.no-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d4d4d4;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 9px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #000000;
    cursor: pointer;
}

#note-create-details {
    display: flex;
    flex-direction: column;
}

.trash-auth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 7px;
}

.trash-note-container {
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.trash-icon {
    height: 25px;
    width: 25px;
}

.trash-icon:hover {
    filter: invert(37%) sepia(92%) saturate(5301%) hue-rotate(345deg) brightness(108%) contrast(103%);
}

.input-field {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 15px;
    padding: 12px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
}

#note-create-content, #note-content, #fp-content,
#sp-content, #tp-content {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 15px;
    padding: 12px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 4px; 
}

h3, h2 {
    font-family: 'Lexend Mega', sans-serif;
}

h2 {
    margin: 10px;
}

.paper-author {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}