.home-container {
    display: flex;
    background-color: #FFF2E0;
    width: 400px;
    height: 600px;
    flex-direction: column;
}

.title {
    padding: 5px;
    margin: 10px;
    font-family: 'Lexend Mega', sans-serif;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 5px;
    margin: 5px;
}

.paper-container {
    display: none;
    flex-direction: column;
    align-self: center;
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 350px;
    height: 400px;
}

.notes-container {
    display: none;
    flex-direction: column;
    align-self: center;
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 350px;
    height: 400px;
}

.pass-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF2E0;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 350px;
    height: 450px;
}

.pass-object {
    display: flex;
    align-items: center;
    background-color: #d4d4d4;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 15px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #000000;
    height: 65px;
    cursor: pointer;
}

#paper-details {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#paperTitle {
    margin: 5px;
    font-family: 'Lexend Mega', sans-serif;
}

#id-aoi {
    margin: 5px;
    margin-bottom: 15px;
}

.pass-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    background: #ffffff;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 300px;
    height: 350px;
}

.suggested-text {
    display: flex;
    align-self: center;
    color: #737373;
    padding: 3px;
}

.button-base {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 15px;
    box-shadow: 4px 4px #000000;
    padding: 12px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #000000;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

.button-base:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px #000000;
}

.button-base:active {
    transform: translate(3px, 3px);
    box-shadow: 1px 1px #000000;
}

#papers-button {
    background-color: #A2AADB;
}

#notes-button {
    background-color: #A2AADB;
}

#paper-adder {
    background-color: #ff6d4d;
}

#note-adder {
    background-color: #ff6d4d;
}

#pass-submit {
    background-color: #ff6d4d;
}

#paper-ab {
    background-color:#6B93B8;
}

#paper-cb {
    background-color: #C0C0C0;
}

#notes-ab {
    background-color: #6B93B8;
}

#notes-cb {
    background-color: #C0C0C0;
}

#id-pcc:popover-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF2E0;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 350px;
    height: 450px;
}

#id-ncc:popover-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFF2E0;
    border-radius: 4px;
    border: 2px solid #000000;
    width: 400px;
    height: 480px;
}

.po-container {
    display: flex;
    flex-direction: column;
    background-color: #d4d4d4;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 9px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #000000;
    cursor: pointer;
}

.no-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d4d4d4;
    font-family: 'Lexend Mega', sans-serif;
    font-size: 9px;
    padding-left: 10px;
    margin: 10px;
    border-radius: 4px;
    border: 2px solid #000000;
    cursor: pointer;
}

.trash-auth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 7px;
}

.trash-note-container {
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.fa-trash {
    color: #000000;
}

.fa-trash:hover {
    color: #ff3131;
}

.input-field {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 15px;
    padding: 12px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 4px;
}

#note-content {
    font-family: 'Lexend Mega', sans-serif;
    font-size: 15px;
    padding: 12px;
    margin: 10px;
    border: 2px solid #000000;
    border-radius: 4px; 
}

h3 {
    font-family: 'Lexend Mega', sans-serif;
}